            
body{            
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
}  

/*Прога Антона*/
/*Первый сектор*/

.background_Main {
    max-width: 100%;
}
.navigation_sector {
    position: relative;
    top: -750px;
    max-width: 30%;
}
.logo_OJJO {
    position: relative;
    max-width: 16%;
    padding: 10px;
    left: 43%;
    max-width: 30%;
}
.nav_png{
    position: relative;
    top: -50px;
    left: 66%;
    max-width: 30%;
}
.mdi_account {
    position: relative;
    left: 50%;
    top: -3px;
    max-width: 5%;
}
.HearT {
    position: relative;
    left: 52%;
    top: -9px;
    max-width: 5%;
}
.navigation-txt {
    position: relative;
    left: 5%;
    width: 95%;
}
.nav1{
    position: relative;
    left: 11%;
    width: 30%;
    top: -75px;
}
.Контрагентам {
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}
.Дизайнерам {
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}
.Вакансии {
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}
.nav2{
    position: relative;
    left: 65.5%;
    max-width: 30%;
    top: -95px;
}
.Поиск {
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    max-width: 30%;
}
.Вход_Регистрация {
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    max-width: 30%;
}
.botton{
    text-align: center;
    position: relative;
    top: -440px;
    padding: 15px;
}
.botton_txt{
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.catalog{
    position: relative;
    max-width: 50%;
    left: 42%;
}
.CocoFine{
    position: relative;
    top: 50px;
}



/*Второй сектор*/
.sec_sec_txt{
    position: relative;
    color: black;
    text-align: center;
    top: -265px;
}
.event{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.beauty{
    position: relative;
    left: 4%;
    max-width: 95%;
}
.button-txt_top{
    position: relative;
    top: -225px;
    padding: 5px;
    left: 16%;
}
.txt_top{
    position: relative;
    top: -245px;
    right: 37%;
}
.i1{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 100;
}
.i2{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    left: 6%;
    font-weight: 100;
}
.i3{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    left: 9.5%;
    font-weight: 100;
}
.i4{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    left: 11%;
    font-weight: 100;
}
.i5{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    top: -279px;
    left: 73%;
    font-weight: 100;
}
.png{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    top: -200px;
}
.txt_png1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.rings {
    position: relative;
    color: white;
    top: -65px;
    text-decoration: none;
}
.earrings {
    position: relative;
    color: white;
    top: -65px;
    text-decoration: none;
    left: 1%;
}
.suspensions {
    position: relative;
    color: white;
    top: -65px;
    text-decoration: none;
    left: 1%;
}
.txt_pn{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 260px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 30px;
    top: -300px;
    right: 1%;
}
.cufflinks {
    position: relative;
    color: white;
    top: -65px;
    text-decoration: none;
}
.bracelets {
    position: relative;
    color: white;
    top: -65px;
    text-decoration: none;
}
.watch {
    position: relative;
    color: white;
    top: -65px;
    text-decoration: none;
}



.main_button{
    position:relative;
    left: 92%;
    top: -1975px;
}





.new_style{
    position:relative;
    background-color: #297bd2;
}
.body_style{
    background-color: rgb(47, 46, 46);
}
.beauty_style{
    color: red;
    position: relative;
    left: -15%;
}
/*Прога Нигины*/
/*Третий сектор*/

/*Четвёртый сектор*/
